#userContactSettings
  h2 My Contact Info
  #userContactSettingsInfo
    span#userContactSettingsName
    br
    span#userContactSettingsEmail
    br
    span#userContactSettingsCellPhone
    br
    span#userContactSettingsCurrentAddress
    br
    span#userContactSettingsUpdateAddressDate
  
  br
  br

  #userContactSettingsForm
    fieldset
      input#updateName(type='text', placeholder='Name')
      input#updateEmail(type='text', placeholder='Email')
      input#updateCellPhone(type='text', placeholder='CellPhone')
      input#updateCurrentAddress(type='text', placeholder='Address')
      input#updateAddressChangeDate(type='text', placeholder='Date of next address change')
      button#updateContactBtn Update