#createUser
  h2 Sign up
    fieldset
      input#desiredUserName(type='text', placeholder='Desired User Name', name='username')
      input#desiredPassword(type='password', placeholder='Desired Password', name='password')
      input#desiredPasswordRepeat(type='password', placeholder='Repeat Password', name='passwordRepeat')

      button#btnCreateUser Create Account
