extends layout

block content
  include ./includes/user_menu.jade
  h1= title
  input(id='user',type='hidden', value=user)
  include ./includes/user_contact_settings.jade

  include ./includes/user_directory.jade

  include ./includes/global_directory.jade

block scripts
  script(src='/javascripts/index.js')