extends layout

block content
  #userLoginForm
    h1= title
    h2 Login Menu
      fieldset
        input#loginUserName(type='text', placeholder='User Name')
        input#loginPassword(type='text', placeholder='Password')
        button#btnLogin Login

  include ./includes/user_creation.jade

block scripts
  script(src='/javascripts/login.js')